.app {
    text-align: center;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 3px;
    height: 20px;
}

.title {
    color: white;
}

.upDownRegion {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    margin: 20px 40px 20px 40px;
    height: 100px;
}

.upDownButton {
    width: 160px;
    height: 60px;
    margin: 20px;
}

.roundHistory {
    border: 1px solid red;
    margin: 20px 40px 20px 40px;
    height: 100px;
}

.feePool {
    border: 1px solid red;
    margin: 20px 40px 20px 40px;
    height: 100px;
}

.history {
    color: white;
}

:global {
    .ant-table-placeholder {
        background: none;
    }

    .ant-table {
        color: white;
    }

    .ant-table-thead > tr > th {
        background: none;
        color: white;
    }
}
